.header-mixed{
    display: flex;
    justify-content: space-between;
     padding-left: 168px; 
            height: 90px;
            padding-right: 3px;
            align-items: center;
  }

  .header-logo{

    width: 188px;
  }
  .header-png{
    width: 42px;
    height: 42px;
    /* top: -14px;
    right: 160px; */
    display: flex;
    justify-content: space-between;
    padding-right: 320px;
  }
        
