
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
  .login-main{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }


.mainDiv{
    /* width: 763px; */
    height: 50vh;
    /* top: 197PX;  */
    padding: 10px 20px;
    padding-left: 40px;
    background-color: #FFFFFF;
    border: solid 1px;
    border-radius: 20px;
    border-color: #B8B8B8;
    padding-top: 44px;
    width: 290px;
    

    /* left: 555px; */


display: flex;
flex-direction: column;
    


}
.logo{
    width: 100px;
}

.form{
    display: flex;
    flex-direction: column;
    border-radius: 0px;
}
/* body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .greenText{
    color: #03A500;
    font-family: 'poetsenOne';
    font-weight: 400; 
    font-size: 35px; 
    line-height: 42px;
    
  }
  .green{
    color:#717171;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 399;
    margin: 1px;
    


  }
  .gree{
    color:#0B0B0B;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    



  }
  .colButton{
    background-color: #03A500;
    font-family: 'Poppins', sans-serif;
    color: white; 
    width: 155px;
    height: 40px;
    padding: 10px 20px; 
    margin-top: 7px;
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
  }
  .manage{
    display: flex;
    

  }
  .login-box{
      border-radius: 11px;
      padding: 12px 16px;
      border: 1px solid #646363;
      font-family: 'Poppins', sans-serif;
  }
  .logm{
    display: flex;
    margin-top: 29px;
    margin-bottom:17px;
    font-size: 13px;
    font-weight:600;
    font-family: 'Poppins', sans-serif;
    
  }
  

/* Media query for smaller screens */
@media screen and (max-width: 767px) {
  .green{
    color:#717171;
  
  }
  .colButton{
    width: 115.39382934570312px;
    margin-bottom: 2px;
    margin: 0px;
    height: 39px;
    top: 577px;
    left: 72.921875px;


  }
  .mainDiv{
    width: 80%;
    padding: 8px 10px;
    padding-left: 20px;
    border: none;
    padding-top: 10px;
    margin: 2px;
  }
  .box{
    border-radius: 8px;
      padding: 8px 11px;
     
  
  }
  
  
}

  