

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;600&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); */
.onebox{

            max-width: 1600px;
            /* padding: 12px 16px; */
            background-color: #FFFFFF;
            /* right: 245px; */
            
    
            /* border: 1px solid #646363; */
            /* border-style: none none solid none; */

            box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
            width: 100%

            ;
        }
.page1-box {
    /* width: 609px;
    height: 140px;
    background-color: #F6F4F4;
    border: 2px solid #F6F4F4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 971px;
    height: 180px;
    /* top: 211px;
    left: 467px; */
    
    background-color: rgba(246, 244, 244, 1);
    
    align-items: center;
    justify-content: center;
    /* margin-left: 20px; */

    border-radius: 30px;
    padding: 22px;
    position: relative;
    top: 98px;
    left: 230px;

  }
 .page1-text{
    /* width: 492px; */
    /* height: 6px; */
    /* top: 10px;
    left: 201px;  */
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 600px;
    /* letter-spacing: 0em; */
    /* text-align: ; */
    line-height: 42px;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 30px;
    

    
  }
  .page1-p {
    width: 900px;
    padding: 30px;
    border: 1px solid none;
    font-family: 'Poppins';
    font-weight: 600px;

    text-align: left;
    font-size: 21px;
    color: #333;
    top:11px;
    margin-top: 0px;
  }
      
  .png{
    width: 42px;
    height: 42px;
    /* top: -14px;
    right: 160px; */
    display: flex;
    justify-content: space-between;
    padding-right: 320px;
    

  }
  .logo{

    width: 188px;
   


  }
  .mixed{
    display: flex;
    justify-content: space-between;
    padding-left: 168px;
            height: 90px;
            padding-right: 3px;
            align-items: center;
  }
  /* .roundb{
    border-radius:60%;
    width: 102;
    height: 102;
    border: green;
    background-color: green;
    position:relative;

  }
  .plus operator{
    position: absolute;

  } */
.common{
  position: relative;
  width: fit-content;
}
.plus_operator{
  position: absolute;
  top:19px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  font-family: "Lato";
  font-size: 65px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  /* text-align: left; */

  
  /* align-items: center; */

    } 
/* .cng{
  .image-container {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
} */
.cng {
  width: 79px;
  /* object-fit: cover;
  border-radius: 50%; */
}
.page1-maindiv{
  position: absolute;
  bottom: -37px;
  right: 27px;
  
}
.new{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
